/* {
  border: 1px solid red;
} */

body {
  width: 100vw;
  height: 100vh;
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2.5px solid black;
  max-width: 60%;
  min-width: 375px;
  margin: auto;
  margin-top: 1rem;
}

.nav__logo {
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link-1,
.nav__link-2 {
  margin-left: 0.125rem;
  margin-right: 0.125rem;
  color: black;
}

.nav__link-3 {
  margin-right: 1rem;
  margin-left: 0.125rem;
  color: black;
}

.nav__test {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 60%;
  min-width: 375px;
}

.nav__date {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.nav__para {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

/*
  ========================================
  Header
  ========================================
*/

.header {
  display: flex;
  justify-content: center;
}

li.book-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.75rem;
  gap: 1rem;
}

.listing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 60%;
  min-width: 375px;
  margin: auto;
  padding-left: 0;
  border: 1px solid #ccc;
}

.book-item:nth-child(odd) {
  background: lightgrey;
}

button.remove-book {
  margin-top: 0.25rem;
  margin-right: 0.75rem;
  margin-bottom: 0.25rem;
}

/*
  ========================================
  Form
  ========================================
*/

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

input {
  width: 33%;
  padding-top: 0.25rem;
  padding-right: 0.75rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  border-width: 1px;
  border-radius: 0.25rem;
  background-color: white;
  font-size: 1rem;
  line-height: 2.25rem;
}

.form__btn {
  padding: 0.25rem 1rem;
}

/* .form,
.info {
  display: none;
}

/*
  ========================================
  Contact
  ========================================
*/

.info__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*
  ========================================
  Footer
  ========================================
*/

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2.5px solid black;
  max-width: 60%;
  min-width: 350px;
  margin: auto;
  margin-top: 5rem;
}

.footer__para {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.none {
  display: none;
}
